body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 96.5vh;
  overflow: hidden;
}

#root {
  height: 100%;
}

.App {
  padding: 16px;
  height: 100%;
}

.announcements {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.heading {
  font-size: 3em;
  margin: 2vw;
  margin-bottom: 0;
}

.content {
  font-size: 1.3em;
  margin: 2vw;
}