.lesson-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(50, 50, 50);
}

.lesson-title {
  font-size: 2.5em;
  font-weight: bold;
  height: auto;
  line-height: 1em;
}

.lesson-subtitle {
  font-size: 1.5em;
}
